@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #eeeded;
  background: linear-gradient(to top right, #140206, #38031c), #3a1f25;
  text-decoration:none;
}

html,
body {
  height: 100%;
}

h1 {
  @apply text-3xl font-bold;
}
